@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #f1f1f1;
  --color-brand: #EB6A02;
  --font-fam: 'Lato', sans-serif;
  --height: 3rem;
  --bottone-width: 4rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);

  --secondary-color: #176791;
  --box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
  --black: #444;
  --border: .2rem solid var(--black);

  --blue:#3498db;
  --dark-blue:#2980b9;
  --red:#e74c3c;
  --dark-red:#c0392b;
}

body { 
  margin: 0;
  background: orange;
  background-size: cover ;
}

.header {
  overflow: hidden;
  background-color: var(--secondary-color);
}

.header a {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  padding: 12px;
}

.header-center{
  margin-top: 12px;
}

.header-right {
  float: right;
}

.header-right a {
  background-color: white;
  color: #EB6A02;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 26px;
  width: 154px;
  height: 51px;
  border: none;
  border-radius: 5px;

  text-align: center;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: normal;

  transition: background-color 1s, color 1s;
}

.header-right a#prenotazioni {
  width: auto;
}

.header-right a:hover{
  background-color: #EB6A02;
  color: white;
}

@media screen and (max-width: 1111px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
    
  .header-right {
    float: none;
    display: flex;
    justify-content: center;
  }
}

.ricerca {
  position: relative;
  max-width: 50rem;
  background: var(--color-brand);
  border-radius: var(--rad);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4%;
}

.search-field, .vai {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

.search-field[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.vai {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  width: var(--bottone-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

.search-field:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--bottone-width));
}
  
.search-field:not(:placeholder-shown) + .vai{
  display: block;
}

 .label-search {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
} 

.show-products .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 22rem);
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.show-products .box-container .box{   
  background-color: white;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 1.5rem;
}     

.show-products .box-container .box img{
  width: 100%;
  height: 18rem; 
  object-fit: contain;
  margin-bottom: .5rem;
}

.show-products .box-container .box .name{
  font-size: 1.8rem;
  color: var(--black);
}

.show-products .box-container .box .price{
  font-size: 1.3rem;
  color: var(--secondary-color);
  margin: 0.5rem;
}

.show-products .box-container .box .shop{
  font-size: 1.3rem;
  color: black;
  margin: 0.5rem;
}

.show-products .box-container .box .details{
  line-height: 1.5;
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem;
}

.show-products .box-container .box .details .specifiche{
  display: inline-block;
}

.bottone, .delete-bottone{
   width: 100%;
   border-radius: 5px;
   border: none;
   padding:10px 30px;
   color: white;
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
   text-decoration: none;
  
}

.bottone{
   background-color: var(--blue);
}

.bottone:hover{
   background-color: var(--dark-blue);
}

.delete-bottone{
   background-color: var(--red);
}

.delete-bottone:hover{
   background-color: var(--dark-red);
}

#price_range.ui-slider{
  border-radius: 10px;
  width: auto;
}

#price_range.ui-slider.ui-slider-horizontal .ui-widget-header {
  background-color: var(--secondary-color);
}

#price_range.ui-slider .ui-slider-handle{
  border-radius: 10px;
}

.pointer  {
  border: none;
  background-color: transparent;
  pointer-events: none;
}

.prezzo {
  display: inline-flex;
}


@media screen and (max-width: 1600px) {
  .ricerca {
    max-width: 20rem;
  }

  .header-center{
    margin-top: 17px;
  }

   .search-field, .vai {
    height: 40px;
    font-size: 1rem;
  } 
}


@media screen and (max-width: 1000px) {
  .ricerca {
    max-width: 15rem;
    margin-bottom: 6px;
  }

  .header-center{
    margin-top: 20px;
  }

   .search-field, .vai {
    height: 30px;
    font-size: 1rem;
  } 
}


@media screen and (min-width: 1200px) {
  .bottoneFiltri {
    display: none;
  }

  #slideFiltri {
    display: block !important;
  }
}


@media screen and (max-width: 1200px) {
  #slideFiltri {
    display: none;
  }

  .card-filtri {
    height: 35vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #price_range.ui-slider{
    height: 8px;
  }
  
  #price_range.ui-slider.ui-slider-horizontal .ui-widget-header {
    height: 8px;
  }

  .prezzo {
    padding-top: 20px;
  }
}


@media screen and (max-width: 576px) {
  .show-products .box-container{
    grid-template-columns: repeat(auto-fit, 18rem);
  }

  .show-products .box-container .box{   
    border-radius: .5rem;
    padding: .8rem;
  }     

  .show-products .box-container .box img{
    width: 100%;
    height: 14rem; 
    margin-bottom: .2rem;
  }

  .show-products .box-container .box .name{
    font-size: 1.4rem;
  }

  .show-products .box-container .box .price{
    font-size: 1rem;
    margin: 0.2rem;
  }

  .show-products .box-container .box .shop{
    font-size: 1rem;
    margin: 0.2rem;
  }

  .show-products .box-container .box .details{
    line-height: 1.3;
    font-size: 1rem;
    margin: 0.2rem;
  }

  .show-products .box-container .box .details .specifiche{
    font-size: 1.2rem;
  }

  .bottone-piccolo{
    font-size: 16px;
  }
}