@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@600&display=swap');

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #f1f1f1;
  --color-brand: #EB6A02;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}

body { 
  margin: 0;
  background: linear-gradient(rgb(196, 196, 237), rgba(255, 255, 0, 0.5)),
                    url("../images/sfondo.jpeg") repeat-x;
  background-size: cover ;
  animation: animatedBackground 700s infinite linear;
}

.header {
  overflow: hidden;
  background-color: #176791;
}

.header a {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  padding: 12px;
}

.header-right {
  float: right;
}

.header-right a {
  background-color: white;
  color: #EB6A02;
  margin-right: 26px;
  width: 130px;
  height: 27px;
  border: none;
  border-radius: 5px;

  text-align: center;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  transition: background-color 1s, color 1s;
}

.header-right a:hover{
  background-color: #EB6A02;
  color: white;
}


.logo-homepage{
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width:70%;
  height: auto;
}

form {
  position: relative;
  max-width: 50rem;
  background: var(--color-brand);
  border-radius: var(--rad);
  margin-left: auto;
  margin-right: auto;
}

input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.vai {
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
  
input:not(:placeholder-shown) + button{
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
  .spiegazione {
    flex: 2 0 300px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #176691;


    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 2rem;
    color: #EB6A02;
  }
}

@media screen and (max-width: 800px) {
  .header-right a {
    text-align: center;
    font-size: 13px;
    width: 55px;
    height: 13px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
  }

  .logo-homepage{
    display: block;
    width: 1000px ;
  }

  form {
    max-width: 20rem;
  }

  input, button {
    height: 40px;
    font-size: 1rem;
  }

  .spiegazione{
    flex: 300px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    padding: 15px;
    border-radius: 10px;
    background-color: #176691;


    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    color: #EB6A02;
  }

}
