@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body { 
    margin: 0;
  }

.header {
    overflow: hidden;
    background-color: #176791;
  }

.header a {
    float: left;
    padding: 12px;
}

.header-right {
    float: right;
}

.header-right button {
    background-color: white;
    color: #EB6A02;

    margin-top: 10px;
    margin-bottom: 10px;
    width: 140px;
    height: 34px;
    border: none;
    border-radius: 5px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    transition: background-color 1s, color 1s;
}

.header-right button:hover{
    background-color: #EB6A02;
    color: white;
}

.accedi{
    margin-right: 26px;
}

.registrati{
    margin-right: 28px;
}

.logo-homepage{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  :root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #f1f1f1;
    --color-brand: #EB6A02;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  
  form {
    position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
    margin-left: auto;
    margin-right: auto;
  }
  input, button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
  }
  input[type="search"] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  .vai {
    display: none; 
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }
  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
  }
  
  input:not(:placeholder-shown) + button{
    display: block;
  }

  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  